.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.personalized-info {
    max-height: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personalized-info>.personalized-data {
    width: 80%;
    padding: 20px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.houses-near {
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media(max-width:1024px) {
    .houses-near {
        flex-direction: column;
    }
}

.link-router>span {
    padding: 10px;
    font-size: 3vmin;
    font-weight: bold;
    color: #139487;
    border: 1px solid #ccc;
}

.link-router>span:hover {
    background-color: #023d2e;
    color: #fff;
    transition: all 0.3s ease-in;
}

.personalized-info>.personalized-data>h1 {
    font-size: 5vmin;
    color: #6a66e0;
}



.subtitle {
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 3vmin;
    margin-top: 10px;
    font-weight: 600;
    border-bottom: 2px solid #ccc;
}


.search {
    width: 100%;
    display: flex;
    background-color: #fff;
    color: #333;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 8px;
}

.search input[type=text] {
    padding: 5px;
    border: transparent;
    background-color: transparent;
    width: 100%;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
}

.search input[type=text]:focus {
    outline: none;
}

.search label {
    padding: 0 14px 0 8px;
}

.search .radio {
    display: flex;
    align-items: center;
}

.search button {
    background-image: linear-gradient(45deg, #5651e5 0%, #709dff 100%);
    border: 1px solid #5651e5;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.university-cards-upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.university-cards-header {
    width: 100%;
    margin-top: 85px;
    font-size: 6.5vmin;
    font-weight: bold;
    margin-bottom: 1rem;
}

.university-cards {
    height: auto;
    max-width: 80%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 15px;
    margin-right: 10px;
    ;
}

.no-of-results {
    display: flex;
    align-items: center;
    font-size: 3vmin;
    font-weight: 700;
    margin-top: 10px;
}

@media screen and (max-width: 940px) {
    .hero {
        height: 70vh;
    }
    .hero h1 {
        font-size: 2.3rem;
    }
    .hero .search-text {
        font-size: 1.3rem;
    }
    .search input[type=text] {
        width: 100%;
    }
}