.navbar {
    width: 100%;
    height: 75px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.navbar .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.container>h1 {
    font-size: 4vmin;
}

.navbar span {
    color: #5651e5;
}

.btn {
    background: #5651e5;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top:10px;
    width: 100%;
    font-size: 3vmin;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: darkblue;
    transition: all 0.4s ease-in-out;
}

.navbar .nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 999;
    overflow-x: hidden;
}

.navbar li {
    padding: 1rem;
}

.navbar li a {
    text-decoration: none;
    font-size: 3.5vmin;
}

.hamburger {
    display: none;
}

.navbar .icon {
    font-size: 1.5rem;
}

@media screen and (max-width:940px) {
    .hamburger {
        display: block;
    }
    .container>h4 {
        display: none;
    }
    .navbar .nav-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        top: 75px;
        display: none;
        z-index: 999;
        right: -100%;
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, .98);
        translate: all 0.5s ease-in-out;
    }
    .navbar .active {
        right: 100%;
        height: 100vh;
        position: fixed;
        transition: all 0.5s ease-in-out;
        display: block;
        overflow-x: hidden;
        right: 0;
    }
    .navbar .nav-menu li a {
        font-size: 1.4rem;
    }
}